@model EntityLayer.Concrete.user
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Kullanıcı Ekle</h3>
</div>
<br />
@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kullanıcı Ekleme</h4>
                <p class="card-description"></p>


                @Html.Label("Email", "Email", htmlAttributes: new { @class = "custom-label" })
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control custom-input-bg" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                <br />
                @Html.Label("UserName", "Kullanıcı Adı", htmlAttributes: new { @class = "custom-label" })
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control custom-input-bg" })
                @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                <br />
                @Html.Label("PasswordHash", "Şifre", htmlAttributes: new { @class = "custom-label" })
                @Html.PasswordFor(x => x.PasswordHash, new { @class = "form-control custom-input-bg" })
                <br />
                <br />

                <button class="btn btn-success">Kaydet</button>

            </div>
        </div>
    </div>
}







