@model EntityLayer.Concrete.user
@using System.Text.Json

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Kullanıcı Bilgileri Düzenleme</h3>
</div>
<br />
@using (Html.BeginForm("EditUser", "User", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kullanıcı Bilgileri Düzenleme</h4>
                <p class="card-description"></p>
                <div class="form-group">
                    <label>ID</label>
                    <p class="form-control-static">@Model.Id</p>
                    @Html.HiddenFor(x => x.Id)
                </div>

                @Html.Label("Email", "Email", htmlAttributes: new { @class = "custom-label" })
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control custom-input-bg" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                <br />
                @Html.Label("UserName", "Kullanıcı Adı", htmlAttributes: new { @class = "custom-label" })
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control custom-input-bg" })
                @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                <br />
                <br />
               


                <button class="btn btn-outline-success">Güncelle</button>
                <a href="/User/Index" class="btn btn-outline-danger">
                    <i class="mdi mdi-close"></i> İptal
                </a>
            </div>
        </div>
    </div>
}
