@model EntityLayer.Concrete.machine
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Makine Bilgileri Düzenleme</h3>
</div>
<br />
@using (Html.BeginForm("EditMachine", "Default", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hakkımda Düzenleme</h4>
                <p class="card-description">  </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        <p class="form-control-static">@Model.id</p>
                        @Html.HiddenFor(x => x.id)
                    </div>



                    @Html.Label("Makine adı")
                    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                    
                    <br />
                    
                    @Html.Label("Makine açıklaması")
                    @Html.TextBoxFor(x => x.desc, new { @class = "form-control" })
                    
                    <br />

                    @Html.Label("Makine sayısı")
                    @Html.TextBoxFor(x => x.number, new { @class = "form-control" })


                    <br />
                    @Html.Label("Resim Adresi")
                    @Html.TextBoxFor(x => x.imgURL, new { @class = "form-control" })

                    <br />
                    <br />
                    <button class="btn btn-outline-success">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
}


